body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.heart {
    background-image: url('coracao.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff69b4;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
