body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@keyframes shine {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 120vh) rotate(720deg);
        opacity: 0;
    }
}
.welcome-container {
    position: relative;
    padding: 20px;
    text-align: center;
}

.heart {
    background-image: url('coracao.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff69b4;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}